<h1><%=t(:title_edit_class_school)%></h1>


<%= render 'form' %>

<div class="datagrid-actions">
<%= link_to t('action_show'), @class_school %> |
<%= link_to t('action_index'), class_schools_path %>
</div>
