<h1>Editing Matter Duration</h1>

<%= render 'form' %>
<div class="datagrid-actions">
<%= link_to t('action_show'), @matter_duration %> |
<%= link_to t('action_index'), matter_durations_path %>
</div>
