<h1><%=t(:title_edit_responsible)%></h1>

<%= render 'form' %>
<div class="datagrid-actions">
<%= link_to t('action_show'), @responsible %> |
<%= link_to t('action_index'), responsibles_path %>
</div>
