<h1><%=t(:title_edit_grade_context)%></h1>

<%= render 'form' %>
<div class="datagrid-actions">
<%= link_to t('action_show'), @grade_context %> |
<%= link_to t('action_index'), grade_contexts_path %>
</div>
